@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
body {
  font-family: "Noto Kufi Arabic", sans-serif !important;
}

.main-title {
  text-align: center;
  margin-bottom: 3rem;
}
.main-title h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}
.main-title h2::before, .main-title h2::after {
  content: url("../images/icons/title.svg");
  margin: 0 10px;
  height: 30px;
}

nav.navbar {
  background-color: #39957a;
  color: #fff;
}
nav.navbar .nav-link {
  color: #fff;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}
nav.navbar .nav-link:hover {
  color: #f9bc61;
}
nav.navbar .nav-link:hover::after {
  width: 100%;
}
nav.navbar .nav-link::after {
  margin-top: 5px;
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #f9bc61;
  transition: all 0.3s ease-in-out;
}
nav.navbar .nav-link.active {
  color: #f9bc61;
}
nav.navbar .nav-link.active::after {
  width: 100%;
}
nav.navbar .navbar-brand img {
  width: 200px;
}
nav .subscribe-btn {
  background-color: #f9bc61;
  color: #fff;
  border: 1px solid #f9bc61;
  padding: 5px 20px;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
  margin-inline-start: 30px;
}
nav .subscribe-btn:hover {
  background-color: #000;
  color: #f9bc61;
}

section.hero {
  background: url("../images/hero.jpg") no-repeat center center;
  height: 88vh;
  background-size: cover;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 0;
}
section.hero::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
section.hero .text {
  max-width: 700px;
  text-align: center;
}
section.hero .text h1 {
  color: #f9bc61;
  font-size: 50px;
  margin-bottom: 20px;
}
section.hero .text p {
  color: #fff;
  font-size: 20px;
  max-width: 700px;
}
section.hero .text .learn-btn {
  background-color: #39957a;
  color: #fff;
  padding: 10px 20px;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
  box-shadow: 3px 2px 1px rgba(0, 0, 0, 0.3);
}
section.hero .text .learn-btn:hover {
  background-color: #000;
  color: #f9bc61;
}

section.offers {
  margin-top: -145px;
  padding: 5rem 0;
  background-image: url("../images/bgs/01.png");
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}
section.offers .offer {
  border-radius: 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  padding: 20px;
  background-color: #fff;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}
section.offers .offer a {
  color: #000;
  text-decoration: none;
}
section.offers .offer:hover {
  box-shadow: none;
}
section.offers .offer:hover p {
  color: #39957a;
}
section.offers .offer img {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}
section.offers .offer p {
  transition: all 0.3s ease-in-out;
  margin-bottom: 0;
}

section.about {
  padding: 5rem 0;
  background-image: url("../images/bgs/01.png");
  background-repeat: no-repeat;
}
section.about .about-text {
  margin-bottom: 25px;
}
section.about .about-text h2 {
  margin-bottom: 20px;
}
section.about .about-text p {
  font-size: 14px;
}
section.about .about-video iframe {
  border-radius: 20px;
}

section.counter {
  background-color: #39957a;
  padding: 40px 0;
}
section.counter .counter-box {
  display: flex;
  align-items: center;
}
section.counter .counter-box img {
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
  width: 70px;
  height: 70px;
  margin-inline-end: 10px;
}
section.counter .counter-box span {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}
section.counter .counter-box p {
  font-size: 14px;
  margin-bottom: 0;
}

section.services {
  padding: 5rem 0;
}
section.services a {
  color: #000;
  text-decoration: none;
}
section.services .service {
  border-radius: 20px;
  text-align: center;
  padding: 20px;
  background-color: #212833;
  position: relative;
  overflow: hidden;
  height: 400px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 1rem;
  margin-bottom: 2.5rem;
}
section.services .service img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 0;
}
section.services .service h3 {
  color: #fff;
  font-size: 18px;
  position: relative;
  z-index: 1;
}

section.testimonials {
  padding: 5rem 0;
  background-color: #eaeaea;
  background-image: url("../images/bgs/01.png");
  background-repeat: no-repeat;
}
section.testimonials .item {
  background-color: #fff;
  border-radius: 15px;
  padding: 20px;
}
section.testimonials .item .desc {
  padding-inline-start: 15px;
  margin-bottom: 10px;
}
section.testimonials .item .name {
  font-size: 18px;
  color: #39957a;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
section.testimonials .item .name::before {
  content: "";
  margin-inline-end: 10px;
  width: 35px;
  height: 35px;
  background-color: #39957a;
  border-radius: 50%;
  display: inline-block;
}
section.testimonials .item p {
  font-size: 14px;
  margin-bottom: 0;
}
section.testimonials .item .stars {
  color: #fbd24f;
}
section.testimonials .nav-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  gap: 10px;
}
section.testimonials .owl-prev,
section.testimonials .owl-next {
  background-color: #eff1f5;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
section.testimonials .owl-prev span,
section.testimonials .owl-next span {
  font-size: 40px;
  color: gray;
}

section.packages {
  padding: 5rem 0;
  background-color: #f7f7f7;
}
section.packages .package {
  margin: 2rem;
}
section.packages .package:hover .price {
  text-shadow: none;
}
section.packages .package .top {
  border: 1px solid #212833;
  border-bottom: 0;
  border-radius: 150px 0 0 0;
  padding-top: 30px;
}
section.packages .package .title {
  background-color: #39957a;
  color: #fff;
  border-radius: 50px 0 0 0;
  padding: 20px;
  text-align: center;
}
section.packages .package .price {
  text-align: center;
  font-size: 7rem;
  font-weight: 700;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  line-height: 0.8;
  color: #39957a;
  padding: 20px 0 0;
  text-shadow: -3px 3px 2px #202833;
  transition: all 0.3s ease-in-out;
}
section.packages .package .price img {
  width: 40px;
  height: 40px;
}
section.packages .package ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}
section.packages .package ul li {
  background-color: #eaeaea;
  margin-bottom: 4px;
  padding: 5px 20px;
  display: flex;
  align-items: center;
}
section.packages .package ul li:last-of-type {
  margin-bottom: 0;
}
section.packages .package ul li::before {
  content: "";
  background-image: url("../images/icons/title.svg");
  margin-inline-end: 10px;
  background-size: 15px 15px;
  display: inline-block;
  width: 15px;
  height: 15px;
}
section.packages .package .bottom {
  border: 1px solid #212833;
  border-top: 0;
  border-radius: 0 0 25px 25px;
  padding-bottom: 25px;
  padding-top: 25px;
  background-image: url("../images/bgs/01.png");
  background-repeat: no-repeat;
}
section.packages .package .subscribe-btn {
  background-color: #39957a;
  color: #fff;
  padding: 5px 20px;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
  margin: auto;
}
section.packages .package .subscribe-btn:hover {
  background-color: #000;
  color: #f9bc61;
}

section.blogs {
  padding: 5rem 0;
}
section.blogs .single-blog {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}
section.blogs .single-blog img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
section.blogs .single-blog .text {
  padding: 20px;
}
section.blogs .single-blog .text a {
  text-decoration: none;
}
section.blogs .single-blog .text h3 {
  color: #39957a;
  font-size: 20px;
  max-height: 3em;
  overflow: hidden;
  line-height: 1.2em;
  text-overflow: ellipsis;
  white-space: nowrap;
}
section.blogs .single-blog .text .desc {
  height: 3em;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
section.blogs .single-blog .text p {
  font-size: 14px;
  margin-bottom: 0;
}
section.blogs .blogs-btn {
  background-color: #39957a;
  color: #fff;
  padding: 10px 20px;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
  box-shadow: 3px 2px 1px rgba(0, 0, 0, 0.3);
  margin-top: 25px;
}
section.blogs .blogs-btn:hover {
  background-color: #000;
  color: #f9bc61;
}

section.single-post {
  padding: 5rem 0;
}
section.single-post .single-image {
  margin-bottom: 20px;
}
section.single-post .single-image img {
  width: 100%;
  max-height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}

section.contact {
  padding: 5rem 0;
  background: url("../images/hero.jpg") no-repeat center center;
  position: relative;
  z-index: 1;
}
section.contact::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
section.contact .main-title h2::before, section.contact .main-title h2::after {
  display: none;
}
section.contact .main-title {
  color: #fff;
}
section.contact .contact-form .form-control {
  padding: 15px 20px;
}
section.contact .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
section.contact .info .email,
section.contact .info .whatsapp {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid #f7f7f7;
  border-radius: 25px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 20px;
  display: flex;
  align-items: center;
}
section.contact .info .email p,
section.contact .info .whatsapp p {
  margin-bottom: 0;
}
section.contact .info .email a,
section.contact .info .whatsapp a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  margin-bottom: 0;
}
section.contact .info .email {
  background-color: #212833;
}
section.contact .info .whatsapp {
  background-color: #39957a;
}
section.contact .submit-btn {
  background-color: #39957a;
  color: #fff;
  padding: 10px 20px;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
  box-shadow: 3px 2px 1px rgba(0, 0, 0, 0.3);
}
section.contact .submit-btn:hover {
  background-color: #f9bc61;
}

footer {
  background-color: #39957a;
  text-align: center;
  padding: 20px;
}
footer p {
  margin-bottom: 0;
  color: #fff;
}

#thank-you-message {
  background-color: #f9bc61;
  border-radius: 25px;
}

#toTop {
  position: fixed;
  right: 25px;
  bottom: 15px;
  margin: 0;
  z-index: 99;
  display: none;
}
#toTop button {
  background-color: rgba(0, 0, 0, 0);
  width: 55px;
  height: 55px;
  border: none;
  color: #fff;
  border-radius: 5px;
}

@media (max-width: 991px) {
  section.offers .offer {
    margin-bottom: 25px;
  }
  section.counter .counter-box {
    margin-bottom: 25px;
  }
  section.blogs .single-blog {
    margin-bottom: 25px;
  }
  .contact-form {
    margin-bottom: 30px;
  }
}/*# sourceMappingURL=style.css.map */